@model IEnumerable<LibApp.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-primary" asp-action="New">New Book</a>
</p>

<table id="books">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!--Pobieranie -->
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre.Name</td>
                <td>@(book.ReleaseDate.HasValue ? book.ReleaseDate.Value.ToShortDateString() : "")</td>
                <td>
                    <a href="@Url.Action("Details", "Books", new { id = book.Id })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Edit", "Books", new { id = book.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Books", new { id = book.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
